.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
    /* transform: translateY(-100px); */
    z-index: 3;
}

.modal_img {
    height: auto;
    width: 80%;
    object-fit: cover;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.modal_container {
    /* position: relative;
    display: flex; */
    animation: modalFadeIn ease-in-out 0.7s;
}

.modal.js-modal.open {
    display: flex;
}

.modal_title {
    display: inline-block;
    position: absolute;
    width: 40%;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.modal_icon {
    right: 12%;
    position: absolute;
    top: 3%;
    z-index: 3;
    font-size: 2rem;
}

@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateX(-150px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}