.img_home {
    object-fit: contain;
    max-width: 100%;
    max-height: 1200px;
    position: relative;
}

.heading_title {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.img_heading {
    height: 300px;
    max-width: 1200px;
    opacity: 0.8;
    border-radius: 16px;
}
.heading_item {
    font-size: 3rem;
    position: absolute;
    top: 44%;
    left: 46%;
    transform: translate(-50%,-50%);
    line-height: 1.7rem;
    text-align: center;

}

.red {
    color: red;
}